body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
}

h1 {
    font-size: 1.5rem;
    color: #333;
}

h2 {
    font-size: 1.1rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    text-align: left;
}

.sensor, .control-panel {
    margin: 20px 0;
}

.value {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007BFF;
}

.btn {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn-apagado {
    background-color: #777; /* Gris por defecto */
}

/* Clase que se activa mediante JavaScript para el extractor */
.btn.on {
    background-color: #f44336; /* Rojo para indicar prendido */
}

#status {
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: bold;
}